$primary-color: #111;
$secondary-color: #ffc107;
$show-home-img: true;
$home-img: url(../img/background.jpeg);

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-img {
        &#bg-img {
            background: $home-img;
            background-size: cover;
            background-attachment: fixed;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba($color: $primary-color, $alpha: 0.6);
            z-index: -1;
        }
    }
}